<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục : {{productCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="products_categories">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{productCategory.Name}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="card-body">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-change="GetSeoTitle()" required ng-maxlength="256" name="name" placeholder="" ng-model="productCategory.Name">
                        <span ng-show="frmAddProductCategory.name.$invalid" class="has-error">Phải nhập tên danh mục</span>
                        <span ng-show="frmAddProductCategory.name.$error.maxlength" class="has-error">Tên danh mục chỉ được 256 ký tự</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  name="alias" placeholder="" ng-model="productCategory.Alias">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" placeholder="" ng-model="productCategory.Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="number" name="displayOrder" class="form-control" ng-model="productCategory.DisplayOrder">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hình Ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="productCategory.Image" placeholder="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" name="metaKeywork">Meta keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="metaKeywork" ng-model="productCategory.MetaKeyword">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="metaDescription" ng-model="productCategory.MetaDescription">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="status" ng-model="productCategory.Status">
                            <label class="form-check-label" for="" name="status">Kích hoạt</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" ng-model="productCategory.HomeFlag" name="homeFlag">
                            <label class="form-check-label" for="" name="homeFlag">Hiển thị trang chủ</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Lưu</button>
                <button type="button" ui-sref="products_categories" class="btn btn-default float-right">Cancel</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</section>